.flex{
	display: flex;
	justify-content: center;
	align-items: center;
}
.box{
	background-image: url('../photos/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 900px;
	width: 100%;
}
.header-box{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px;
}
.title{
    font-family: 'Dancing Script', sans-serif;
    font-weight: bold;
	font-size: 28px;
	padding-left: -100px;
}
.nav-ul{
    display: flex;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
}
.nav-li{
    margin-right: 28px; 
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
}


/* start burger icon for smartphone */
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: transparent;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
 
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

#menuToggle {
	display: none;
}

.nav-a{
	color: #D9F0FF;
	padding-right: 380px;  /* I don't like, I should change it */
}
.nav-b {
    font-family: 'Poppins';
    font-size: 12px;
    color: #D9F0FF;
}
.nav-b :hover {
	color: darkred;  /* doesn't working */
	border-bottom: darkred;
}
.box-title{
	font-size: 80px;
	color: #fff;
	margin-top: 165px;
    font-family: 'Lato', sans-serif;
}
.button-box{
	margin-top: 90px;
}
.text-but{
    width: 475px;
    height: 72px;
	font-size: 14px;
	padding: 30px 40px;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 36px;
    border: none;	
    background-color: #061035;
    color: #fff;
    font-weight: bold;
}
.white-box{
	display: flex;
	justify-content: space-between;
}
.blocks{
    padding: 98px;
	width: 50%;
}
.first-block{
	font-size: 50px;
	font-family: 'Lato', sans-serif;
	line-height: 50px;
	color: darkred;
	font-weight: bold;
}
.second-block{
    width: 457px;
    height: 128px;
	font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-top: 44px;
    margin-bottom: 60px;
    line-height: 27px;
    color: #707070;  
}
.image-box{
	width: 50%;
}
.image-box img{
	width: 100%;
}
.last-section{
	background-color: #FAFAFA;
	padding-top: 77px;
}
.container{
	width: 1280px;
	margin: 0 auto;
}
.globe {
	width: 50px;
	height: 50px;
}
.second-title{
	font-family: 'Lato', sans-serif;
	font-size: 60px;
	text-align: center;	
	color: darkred;
	font-weight: bolder;
	padding: 15px;
}
.third-block{
	font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 80px;
    margin-top: 15px;
    width: 770px;
    text-align: center;
    line-height: 27px;
    margin-left: 248px;
    color: #707070;
}
.common-block{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.small-block{
	background-color: darkgray;
	width: 371px;
	height: 374px;
	border: 1px solid #CECECE;
    flex-direction: column;
}
.LNimg {
	/* width: 250px; */
	height: 240px;
}
.LNimgF{
	/* width: 250px; */
	height: 350px;
}
.LNimg2 {
	height: 203px;
}
.e {
	height: 25px;
	width: 135px;
	font-size: large;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: gray;
	background: darkred;
}

.q {
	height: 25px;
	width: 159px;
	font-size: large;
	font-weight: bold;
	text-align: center;
	color: gray;
	background: darkred;
}

.small-title{
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	margin-top: 30px;
    margin-bottom: 20px;
    font-weight: bold;
}
.small-text{
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
    width: 250px;
    hyphens: 106px;
    line-height: 20px;
    color: darkblue;
    margin-left: 40px;
}
.small-block:nth-child(4){
	margin-top: 30px;
}
.small-block:nth-child(5){
    margin-top: 30px;
}
.small-block:nth-child(6){
	margin-top: 30px;
	margin-bottom: 115px;
}
/* start snowflakes */
  /* customizable snowflake styling */
  .snowflake {
	color: #fff;
	font-size: 1em;
	font-family: Arial;
	text-shadow: 0 0 1px #000;
  }
  
  @-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}
  /* Demo Purpose Only*/
  .demo {
	font-family: 'Raleway', sans-serif;
	  color:#fff;
	  display: block;
	  margin: 0 auto;
	  padding: 15px 0;
	  text-align: center;
  }
  .demo a{
	font-family: 'Raleway', sans-serif;
  	color: #000;		
  }
/* end snowflakes */

.cityName {
	position: relative;
	display: inline-block;
	/* border-bottom: 1px dotted black; */
  }
  
  .cityName .cityNameText {
	visibility: hidden;
	width: 350px;
	top: -5px;
	right: 105%;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
  
	/* Position the tooltip */
	position: absolute;
	z-index: 1;
  }
  

  .cityName:hover .cityNameText {
	visibility: visible;
  }


.info {
	background-color: gray;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border-radius: 5px;
}
.city {
	width: 350px;
	height: 350px;
	background-image: url('../photos/Burj-al-arab.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-left: 50px;
}
.city2 {
	width: 350px;
	height: 350px;
	background-image: url('../photos/abudhabi.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-left: 50px;
}
.city3 {
	width: 350px;
	height: 350px;
	background-image: url('../photos/al\ ain.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-left: 50px;
}
.cityName {
	font-size: 22px;
	font-family: 'Lato', sans-serif;
	color: #fff;
	font-weight: bold;
}
.united {
	font-size: 14px;
	color: #B1B1B1;
	font-family: 'Poppins', sans-serif;
}
.quotes {
	margin: 50px 0 50px 0;
}
.bigText {
	width: 100%;
	height: 400px;
	/* background: darkblue; */
	background-image: url(../photos/821858.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	border: 5px solid darkred;
	padding: 10px;
}
.tq {
	text-align: center;
	/* font-family: 'Dancing Script', sans-serif; */
	font-family: 'Redressed';
	font-size: 44px;
}
.qt {
	font-family: 'Lobster';
	font-size: 22px;
	margin: 20px;
}

.exploring2 {
	height: 20px;
	width: 135px;
	font-size: large;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: gray;
	background: darkred;
	float: right;
	font-family: 'Caveat';
	margin-top: -10px;
	letter-spacing: 5px;
}

.bruge {
	width: 450px;
	height: 300px;
	background-image: url('../photos/bruges.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.brugesText, .dohasText, .bilbaosText, .palmasText {
	width: 450px;
}
.bruges, .dohas, .bilbaos, .palmas {
	font-size: 27px;
    color: #383479
}.bruges:hover, .dohas:hover, .bilbaos:hover, .palmas:hover {
	opacity: 0.6;
}
.doha {
	width: 450px;
	height: 300px;
	background-image: url('../photos/doha.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.bilbao {
	width: 450px;
	height: 300px;
	background-image: url('../photos/bilbao.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.palma-de-mallorca {
	width: 450px;
	height: 300px;
	background-image: url('../photos/palma\ de\ mallorca.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.cityS {
	margin: 50px;
	background: #e6e1e1;
	border-bottom: 2px solid #e6e1e1;
	border-radius: 15px;
}

.icon-sprites {
	width: 40px;
	height: 59px;
	background-image: url(../photos/sprites.png);
	background-position: -5px -240px;
	background-repeat: no-repeat;
	align-items: center;
}
.icon-title {
	font-size: 45px;
	color: #5d5d5d;
	margin-left: 15px;
}
.more {
	width: 100px;
	float: right;
	text-align: center;
	border-radius: 12px;
	background: darkgray;
	font-size: 20px;
}
/* cars slider */
.mySlides {display:none;}
/* contact us */

.contactusimg {
	width: 50px;
	height: 50px;
}

.contact-inforamtion {
    margin-top: 21.2px;
    background: #E6E6E6;
}

.contact {
    width: 251px;
    height: 93px;
    vertical-align: top;
	margin-left: 87.3px;
	margin-top: 50px;
}

.adress {
    font-family: 'BPG Ingiri Arial';
    font-size: 16px;
    padding-top: 5px;
}
.contact-color{
    color: #808080;
    font-family: 'BPG Ingiri Arial';
    font-size: 16px;
}
.info2 {
    font-size: 20px;
    font-family: "BPG Nino Mtavruli", sans-serif;
    font-weight: bold;
    color: #3D58A6;
}

.maps {
	padding: 52px 0 52px 90px;
}

.contact, .maps {
    display: inline-block;
}

/* site footer */

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.text-justify {
	margin-right: 20px;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-right: 40px;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.youtube:hover {
	background-color: #bb0000;
}
.social-icons a.google-plus:hover {
	background-color: #dd4b39;
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/* starts main media css */

@media (max-width: 375px) {
	
	.box, .last-section, .CityGuide, .title-icon, .w3-container, .contact-inforamtion, .site-footer {
		max-width: 375px;
		margin: 0;
	}
	.headerLogo {
		width: 50px;
		height: 50px;
	}
	.nav-ul {
		display: none;
	}
	.box-title {
		font-size: 30px;
	}
	.common-block {
		display: none;
	}
	.second-title {
		max-width: 375px;
		font-size: 30px;
	}
	.third-block {
		max-width: 375px;
		margin: 0;
	}
	.white-block {
		max-width: 375px;
		height: auto;
		flex-direction: row;
	}
	.CityGuide {
		max-width: 375px;
		height: auto;
		flex-direction: row;
	}
	.responsive {
		max-width: 375px;
		flex-direction: row;
	}
	.first-block{
		max-width: 375px;
		margin-left: -50px;
	}
	.second-block{
		max-width: 375px;
		margin-left: -90px;
	}
	.text-but {
		max-width: 375px;
		margin-top: 90px;
		/* margin-left: -20px; */
	}
	.responsiveMaps {
		max-width: 375px;
		margin-left: -90px;
	}
	.city, .city2, .city3 {
		margin-left: 15px;
		margin-bottom: 15px;
	}
	.site-footer {
		max-width: 375px;
	}
	.flex {
		display: inline;
		flex-direction: row;
		justify-content: center;
		align-items: center; 
	}
	.cityGuide {
		margin-left: -50px;
	}
	.icon-sprites{
		float: right;
		margin-right: 15px;
	}
	.icon-title {
		font-size: 35px;
		display: inline;
	}
	.bruge, .doha, .bilbao, .palma-de-mallorca {
		width: 350px;
		height: 300px;
		margin-left: -35px;
	}
	.brugesText, .dohasText, .bilbaosText, .palmasText {
		width: 350px;
		margin-left: -30px;
	}
	.cityS{
		background: none;
	}
	.blocks .text-but {
		margin-left: -98px;
	}
	.text-justify, .copyright-text, .social-icons{
		width: 350px;
	}
	.site-footer hr {
		/* border-top: none; */
		width: 350px;
	}
	.container {
		width: 350px;
	}
}